.cart {
    position: sticky;
    top: 0;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 6px 10px 60px #bebebe, -20px -20px 60px #ffffff;
    padding: 10px;
    height: 430px;
  }
  .cart .price-area {
      text-align: left;
      margin-left: 20px;
  }
  .cart .red-text {
      color: rgb(163, 16, 16);
      font-size: 1.2em;
  }
  .cart button {
    background: #fcb852;
    padding: 8px 20px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 3px;
    color: rgb(51, 51, 51);
    cursor: pointer;
  }
.price-area hr {
  border: 1px solid rgb(246, 242, 242);
}  